<!DOCTYPE html>
<html>
    <body>
        <h1>Login</h1><br><br>
        <form action="/login", method="POST">
            <label for="uname">Username: </label>
            <input type="text" placeholder="Username" name = "username" id="uname"><br><br>
            <label for="pw">Password: </label>
            <input type="password" placeholder="Password" name = "password" id="pw"><br><br>
            <button type="submit">Login</button><br>
            <a href="http://localhost:3000/register">Register</a>
        </form>
    </body>
</html>